
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <h1 class="my-4">Supercar Travels Blog</h1>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="/assets/DSC03892.jpg" alt="LaFerrari">
          <div class="card-body">
            <h2 class="card-title">New rentral car - Ferrari LaFerrari</h2>
            <p class="card-text">We added another hypercar to our fleet which is now aviable to our customers!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">Posted on June 26, 2020</div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/FGT.jpg" alt="Ford GT">
            <div class="card-body">
              <h2 class="card-title">New rentral car - Ford GT</h2>
              <p class="card-text">The Ford GT is the newest addition to our rentral car fleet. Book your trip now to drive it!</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">Posted on June 21, 2020</div>
          </div>

        <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="/assets/hochalpenstrasse.jpeg" alt="Hochalpenstrasse">
            <div class="card-body">
              <h2 class="card-title">New tour now available</h2>
              <p class="card-text">We added a tour at the Großglockner-Hochalpenstraße to our portfolio. Book it now to get your spot!</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">Posted on June 18, 2020</div>
          </div>


      </div>

     
  </div>
  <!-- /.container -->
