<div class="jumbotron">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Supercar Travels</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/blog">Blog</a>
        <a class="nav-item nav-link" href="/travels">Travels</a>
      </div>
      <div>
        <a href="/cart" routerLink="/cart" class="nav-item nav-link cart btn btn-info btn-lg bg-dark" style="
        width: 150px;">
          <span class="glyphicon glyphicon-shopping-cart"></span>Cart
        </a>
      </div>

    </div>
  </nav>


  <div id="welcometext">Welcome to Supercar Travels.</div>
